:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);

    --rounded-small: 0.5rem;
    --rounded-big: 1rem;

    --spaceing-very-small: 0.5rem;
    --spaceing-small: 0.75rem;
    --spaceing: 1rem;
    --spaceing-big: 1.5rem;
    --spaceing-huge: 2.5rem;
}

*, html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh;
    background: var(--green-200);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

main {
    background: var(--white);
    margin: var(--spaceing-big);
    padding: var(--spaceing-big);
    border-radius: var(--rounded-big);
    display: flex;
    flex-direction: column;
    gap: var(--spaceing-huge);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spaceing);
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: var(--spaceing-very-small);
    flex: 1 1 auto;
}

.input-section > textarea {
    height: 15rem;
    padding: var(--spaceing);
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: var(--spaceing);
}

.radio-section {
    display: flex;
    gap: var(--spaceing-small);
    flex: 1 1 auto;
}

.radio-section > input {
    margin-left: var(--spaceing-big);
}

.checkbox-group {
    display: flex;
    flex-direction:column;
    gap: var(--spaceing);
}

.checkbox-section {
    display: flex;
    flex-direction: row;
    gap: var(--spaceing);
}

.field {
    padding-top: var(--spaceing-small);
    padding-bottom: var(--spaceing-small);
    border: 1px solid var(--grey-900);
    border-radius: var(--rounded-small);
}

.required-mark {
    color: var(--green-600);
}

.pointer-hover:hover {
    cursor: pointer;
}

.border-color-hover:hover {
    border: 1px solid var(--green-600);
}

button {
    padding-top: var(--spaceing);
    padding-bottom: var(--spaceing);
    border-radius: var(--rounded-small);
    background-color: var(--green-600);
    color: var(--white);
    font-weight: 600;
}

button:hover {
    background-color: var(--grey-900);
}

.error-text {
    color: var(--red);
}

@media (min-width: 768px) {
    form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .input-section > textarea {
        height: 4rem;
    }

    .singleColumn {
        flex: 1 1 100%;
    }

    .radio-group {
        flex-direction: row;
    }
}
